<!DOCTYPE html>
<html>
    <head>
      <%- include("templates/header", {title: "Administration"}) -%>
    </head>
    <body>
        <%- include("templates/navbar", {active: "administration"}) -%>

        <div class="container">
          <h1>Profile Management</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% users.forEach(function(user){%>
                <tr>
                  <td><%= user.first_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.tel %></td>
                  <td>
                    <a class="btn btn-primary" href="/administration/edit/user/<%= user._id %>" role="button">Edit</a>
                    <a class="btn btn-danger" href="/administration/del/user/<%= user._id %>" role="button">Delete</a>
                  </td>
                </tr>
              <%});%>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a class="btn btn-success" href="/administration/new_user" role="button">New</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>