<!DOCTYPE html>
<html>
  <head>
    <%- include("templates/header", {title: "Edit ..."}) -%>
  </head>
    <body>
        <%- include("templates/navbar", {active: "administration"}) -%>

        <div class="container">
          <h1>Edit User</h1>
          <form method="POST" action="/administration/edit/user/<%= user._id %>">
            <input type="hidden" name="_id" value="<%= user._id %>">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" value="<%= user.first_name %>" name="firstName" id="firstName" placeholder="First name">
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" value="<%= user.last_name %>" name="lastName" id="lastName" placeholder="Last name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" value="<%= user.email %>" name="email" id="email" placeholder="E-mail">
              </div>
              <div class="form-group col-md-6">
                <label for="telNum">Telephone Number</label>
                <input type="tel" class="form-control" value="<%= user.tel %>" name="telNum" id="telNum" placeholder="Telephone number">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="newPassword">Password</label>
                <input type="password" class="form-control" value="<%= user.password %>" name="password" id="password" placeholder="New password">
              </div>
              <div class="form-group col-md-6">
                <label for="newPasswordAgain">Repeat Password</label>
                <input type="password" class="form-control" value="<%= user.password %>" name="passwordAgain" id="passwordAgain" placeholder="Repeat new password">
              </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Save"/>
            <a class="btn btn-danger" href="/administration" role="button">Cancel</a>
          </form>
          <%- include("templates/alert") %>
        </div>

        <div class="container">
            <h1>Reservations of <%= user.first_name %></h1>
            <table class="table">
              <tbody>
                  <% reservations.forEach(function(reservation){ %>
                    <tr>
                      <td>
                        <%= reservation.date %>
                      </td>
                      <td>
                        <a class="btn btn-danger" href="#" role="button">Cancel</a>
                      </td>
                    </tr>
                  <% }); %>
              </tbody>
            </table>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>