<!DOCTYPE html>
<html>
    <head>
      <%- include("templates/header", {title: "Profile of ..."}) -%>
    </head>
    <body>
        <%- include("templates/navbar", {active: "profile"}) -%>

        <div class="container">

          <form method="POST" action="/profile">
            <h1>Profile</h1>
            <input type="hidden" name="_id" value="<%= user._id %>">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" value="<%= user.first_name %>" name="firstName" id="firstName" placeholder="First name">
              </div>
              <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" value="<%= user.last_name %>" name="lastName" id="lastName" placeholder="Last name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" value="<%= user.email %>" name="email" id="email" placeholder="E-mail">
              </div>
              <div class="form-group col-md-6">
                <label for="telNum">Telephone Number</label>
                <input type="tel" class="form-control" value="<%= user.tel %>" name="tel" id="tel" placeholder="Telephone number">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" value="<%= user.password %>" name="password" id="password" placeholder="New password">
              </div>
              <div class="form-group col-md-6">
                <label for="newPasswordAgain">Repeat New Password</label>
                <input type="password" class="form-control" value="<%= user.password %>" name="passwordAgain" id="passwordAgain" placeholder="Repeat new password">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control" name="currentPassword" id="currentPassword" placeholder="Current password">
              </div>
            </div>
            <input type="hidden" id="previousPath" name="previousPath">
            <script>
              document.getElementById("previousPath").setAttribute("value", window.location.pathname);
            </script>
            <input type="submit" class="btn btn-primary" value="Save" role="button"/>
          </form>
          <%- include("templates/alert") %>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>