<!DOCTYPE html>
<html>
    <head>
      <%- include("templates/header", {title: "User Reservations"}) -%>
    </head>
    <body>
        <%- include("templates/navbar", {active: "reservations"}) -%>

        <div class="container">
          <h1><%= (session_user._id == user._id) ? "Own Reservations" : "Reservations of " + user.first_name %> </h1>
          <table class="table">
            <tbody>
                <% reservations.forEach(function(reservation){ %>
                  <tr>
                    <td>
                      <%= reservation.date.toLocaleDateString("hu-HU") %>
                    </td>
                    <td>
                      <%= reservation.name %>
                    </td>
                    <td>
                      <div id="cancel_form">
                        <form action="/reservations/del" method="post">
                          <input type="hidden" name="_id" value="<%= reservation._id %>">
                          <input type="hidden" id="previousPath_<%= reservation._id %>" name="previousPath">
                          <% if (session_user._id == user._id) { %>
                            <input type="submit" value="Cancel" class="btn btn-danger">
                          <% } %>
                        </form>
                        <script>
                          document.getElementById("previousPath_<%= reservation._id %>").setAttribute("value", window.location.pathname);
                        </script>
                      </div>
                    </td>
                  </tr>
                <% }); %>
            </tbody>
          </table>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>