<!DOCTYPE html>
<html>
    <head>
      <%- include("templates/header", {title: "Reservations of ..."}) -%>
    </head>
    <body>
        <%- include("templates/navbar", {active: "reservations"}) -%>

        <div class="container">
          <h1><%= (session_user._id === user._id) ? "Own Reservations" : "Reservations of " + user.first_name %> </h1>
          <table class="table">
            <tbody>
                <% reservations.forEach(function(reservation){ %>
                  <tr>
                    <td>
                      <%= reservation.date %>
                    </td>
                    <td>
                      <a class="btn btn-danger" href="#" role="button">Cancel</a>
                    </td>
                  </tr>
                <% }); %>
            </tbody>
          </table>
        </div>

        <%- include("templates/footer") %>
    </body>
</html>